@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
.alisson{
  background-image: url("../img/8.jpg");
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
  margin: 1cm;
  height: auto;
  width: auto;
}

.container{
  margin-top: 3cm;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

body{
  font-family: Poppins, "sans-serif";
  background-color: rgb(255, 208, 137);
  width: auto;
}

.form{
  padding-top: 2cm;
  margin: 2rem;
}

.konate{
  width: auto;
  padding: auto;
  display:inline-flex;
}

#submit{
  width: auto;
  padding: 0.3cm;
  margin-top: -1cm;
}

.tsimikas{
  margin: 0;
  padding: 0;
}

.fabinho{
  background-color: rgb(224, 255, 193);
  border-radius: 5%;
  width: auto;
}